@font-face{
  font-family: 'fontWorkSans';
  src : url("./assets/fonts/WorkSans-Bold.ttf");
  font-weight : 300;
}
body{
  font-family: 'fontWorkSans';
  -ms-user-select: none; 
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar{
   width:100vw;
   height:100vh;
   display: flex;
   z-index:20;
   background-color: #282c34;
   background-image: url(./assets/imgs/BackImg4.png);
   background-size: cover;
   cursor : grab;
   position:fixed;
   justify-content: center;
   will-change: transform;

}
.sidebar:active{
  cursor: grabbing;
  
}

.Notdrag{
  -ms-user-select: none; 
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.SideSlide{
  left : 83.5%;
  position : absolute;

}
.transitions-wrapper > .position-tpy {
  position : absolute;
  margin-left: 12%;
  margin-top : 5%;
  width: 55%;
}

.transitions-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  margin-left: 8%;
  width: 100vw;
}
.center-enter {
  opacity: 0;
  transform: scale(1.1);
}

.center-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.center-exit {
  opacity: 1;
  transform: scale(1);
}

.center-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

hr, .hr {
  border: 0;
  margin: 1rem 0;
  border-top: 1px solid #ebebeb;
  width: 70vw;
}

.TopMenu{
  display:inline-flex;
  color:rgb(195,195,195);
  text-decoration: none;
  width: 7.5rem;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 3.5%;
  height: 100%;
}

.TopMenu:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.40rem;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(108,108,108);
  
}
.mobilIcon{
  width: 100%;
  font-size: 50px;
  color: aliceblue;
}

.menuIcon{
  font-size: 20px;
  margin-top: 4%;
  margin-left: 0%;
  width: 10%;
  cursor:pointer;
  color:rgb(195,195,195);
  transition : transform 500ms;
}

.menuIcon:hover{
  transform: rotate(35deg);
}

.pinIcon{
  font-size: 20px;
  color:rgb(150,150,150);
  margin-top: 1%;
  margin-left: 5%;
  width: 4%;
}
.pinIcon:hover{
  cursor:pointer;
}

.SideMenu{
  color:white;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.40rem;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(108,108,108);
}

.SideMenu:hover{
  text-decoration-color: rgb(255,255,255);
}
.bottomMenu{
  margin-left: 3%;
}
.title{
  font-size: 50px;
}

ul > li{
  float: left;
  list-style: none;
  margin-left: 2%;
  width: 2rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(108,108,108);
}
ul > li:hover{
  border-bottom-color: rgb(255,255,255);
}

.skilIcon {
  width: 10%;
  height: 10%;
  margin-left: 5%;
}